/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body {
    font-family: "Whitney",sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.col {
    float: left;
}
.container {
    position: relative;
    width: 70%;
    margin: auto;
}
img {
    width: 100%;
}
.title {
    margin-bottom: 40px;
    font-size: 60px;
}
.text {
    font-size: 24px;
}
.row {
    padding: 200px 0px;
}
.lightgrey{
    background-color: lightgray;
}
/* HEADER */
/* header top part */
.bg-blue {
    background-color: #3161e0;
    padding: 20px 0;
}
.col-left, .col-right {
    width: 10%;
}
.col-middle {
    width: 80%;
}
.col-middle ul {
    text-align: center;
    list-style-type: none;
}
.col-middle ul li {
    display: inline-block;
}
.col-middle ul li a {
    color: white;
}
/* header bottom part */
.bg-img {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.header-text {
    width: 40%;
    margin: auto;
    padding-top: 150px;
    text-align: center;
    color: white;
}
/* buttons */
.link {
    padding: 0 20px;
    text-decoration: none;
}
.btn-container {
    padding: 50px;
    padding-bottom: 200px;
    width: 40%;
    margin: auto;
}
.small-btn {
    padding: 10px 16px;
    color: black;
    background-color: white;
    border-radius: 40px;
}
.big-btn {
    display: inline;
    margin: 10px;
    padding: 16px 34px;
    border-radius: 40px;
}
.white {
    background-color: white;
}
.white a {
    color: black;
}
.dark {
    color: white;
    background-color: black;
}
.dark a{
    color: white;
}
/* MAIN */
.main-left, .main-right {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 50px;
}
.text-container {
    width: 50%;
    margin: auto;
}
.main-bottom {
    padding-top: 100px;
}

